*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921:#131921;
  --color-3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-232f3e:#232f3e;
  --color-bf4800:#bf4800;
  --color-f5f5f7:#f5f5f7;
  --color-ededed:#ededed;
  --color-777777:#777777;
  --color-1c1c1b:#1c1c1b;
}

.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom:20px ;
}

.card-wrapper{
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 10px;
}
body{
  font-family: "Rubik", "sans-serif";
}

a{
  text-decoration: none;
  display: inline-block;
}
.button{
background-color: var(--color-232f3e);
color: antiquewhite;
font-size: 14px;
padding:13px 33px;
border-radius: 35px;
}
.button:hover{
  background-color: var(--color-bf4800);
  color: 131921;
}
.gap-5{
  gap:5px
}
.gap-10{
  gap:10px
}
.gap-15{
  gap:15px
}

.gap-30{
  gap:30px
}
/*   Header Start*/
.header-top-strip{
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-bottom{
  background-color: var(--color-232f3e);
}
.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
.form-control:focus{
 box-shadow: none;
 border-color: inherit;
 
}
.header-upper .header-upper-links img{
  width: 35px;
  height: 35px;
}
.header-bottom .menu-links a{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
   text-transform: uppercase;
}
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
   text-transform: uppercase;
}


.header-bottom .dropdown button:focus{
box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/*   Header End*/


/*   Footer Start*/
footer{
  background-color: var(--color-232f3e );
}
footer:not(:first-child){
  border-top: 1px solid rgba(255,255,255,0.1);
}
footer .input-group-text{
  color: white;
  background-color: var(--color-232f3e);
  padding: 8px 17px;
}

/*   Footer End*/


/*   Home Start*/
/*   Home Wrapper 1 Start*/


.main-banner-content{
  top:15%;
  left:5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin:0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}
.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}



.small-banner-content{
  top:25%;
  left:10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin:0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5{
  font-size: 26px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}
.small-banner-content p{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner{
  width: 49%;
}

/*   Home Wrapper 1 Ends*/



/*   Home Wrapper 2 Start*/

.home-wrapper-2{
  background-color: var(--color-f5f5f7);
  
}


/*   Home Wrapper 2 Ends*/


/*   Catergories Start*/

.categories{
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div{
  width: 25%;
  padding:10px 10px 10px 20px;
}
.categories>div>div{
  width: 45%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3){
  border-right: 1px solid var(--color-ededed);

}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7){
  border-right: 1px solid var(--color-ededed);

}

/*   Catergories Ends*/

/*   BlogCard Start*/

.blog-card{
  background-color: #fff;
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content{
  padding: 10px;
}

.blog-content p.date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color:var(--color-777777) ;
  padding: 0;
}


.blog-content h5{
  font-size: 18px;
  color: var(--color-131921);
}

.blog-content p.description{
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}

.single-blog-card{
  font-size: 15px;
  color: var(--color-777777);
}
.single-blog-card a {
  font-size: 15px;
  color: var(--color-777777);
  margin-bottom:20px ;
}

.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}
.single-blog-card p {
  color: var(--color-777777);
  font-size: 14px;
}
/*   BlogCard Ends*/

/*   ProductCard Start*/

.product-card{
  padding: 15px;
  background-color: #fff;
  border-radius:10px ;
  overflow: hidden;
  width: 100%;
}
.product-card .product-image{
  height: 270px;
}
.product-card .product-image img{
  object-fit: contain;
}
.product-card:hover  .action-bar{
  right: 25px;
}
.product-card .product-image>img:last-child{
  display: none;
}
.product-card:hover .product-image>img:last-child{
  display: block;
}
.product-card:hover .product-image>img:nth-child(1){
  display: none;
}

.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-131921);
}

.product-card .product-details p.price{
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card p.description{
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}

.action-bar{
  top: 10%;
  right: -30px;
  transition: 0.3s;
}

.wishlist-icon{
  top: 3%;
  right: 25px;
}
/*   ProductCard Ends*/



/*  Special ProductCard Start*/

.special-product-card{
  padding:20px 10px ;
  background-color: white;
  border-radius: 10px;
}



/*  Special ProductCard Ends*/



/*   Home End*/

/*  Our Store Start*/

.filter-card{
  background-color: #fff;
  border-right: 10px;
  padding: 10px 20px 25px;
}

.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul, 
.filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
}
.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked{
  background-color: var(--color-febd69);
  border-color:  var(--color-febd69);

}
.sub-title
{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-top: 20px;
  margin-bottom: 15px;
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius:50% ;
}

.random-products h5{
  font-size: 14px;
  margin-bottom: 8px;
  
}

.random-products:first-child{
  border-bottom: 1px solid var(--color-ededed) ;
}
.filter-sort-grid{
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.filter-sort-grid p {
  width: 100px;
}
.grid img{
   width: 30px;
   height: 30px;
   background-color: #f2f2f2;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
}

.gr-12 {
  width:100%;
}

.gr-6{
  width:49.4%;
}
.gr-4{
  width: 32%;
}
.gr-3{
  width: 27%;
}


.gr-12 .product-card{
  display: flex;
  gap: 20px;
}

.gr-4 .product-image{
  width: 100%;
}
.gr-4 .product-image img{
  margin: auto;
  display: block;
}


.gr-12 .product-card .product-image{
  width: 270px;
  height: auto;
}

.gr-12 .action-bar{
  top: 13%;
}

/*  Our Store End*/

/*  Contact Start*/

.contact-inner-wrapper{
  background-color: #fff;
  padding: 30 px20px;
  border-radius: 15px;
  gap: 15px;
}

.contact-inner-wrapper > div{
  width: 48%;
}

.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
}

.contact-inner-wrapper ul{
  list-style: none;
  
}
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p{
color: var(--color-777777);}


/*  Contact End*/

/*  Comppare Product Start*/


.compare-product-card{
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 10px;
}


.compare-product-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

.compare-product-card .product-detail{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-f5f5f7);


}
  


/*  Comppare Product End*/



/*  wishlist start*/

.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.wishlist-card h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.wishlist-card h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

/*  wishlist End*/



/*  Auth card start*/

.auth-card {
 padding: 20px;
 background-color: #fff;
 width: 500px;
 margin:30px auto;
 border-radius: 10px;
  }

  .auth-card h3{
    font-size: 19px;
    font-weight: 500;
    color: var(--color-777777);
  }

  .auth-card p{
    font-size: 13px;
    color: var(--color-777777);
  }

  .auth-card .form-control{
    height: 50px;
    background-color: var(--color-f5f5f7);
    font-size: 14px;
    border-radius: 10px;
    border-color: transparent;
  }

  
  .auth-card a {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-1c1c1b);
  }

  
  .auth-card .signup{
    background-color: var(--color-febd69);
    color: var(--color-131921);
  }

  .auth-card .signup:hover{
    background-color: var(--color-131921);
    /*color: var(--color-febd69);*/
    color: white;
  }
/*  Auth card end*/




/*  policy start*/

.policy{
  background-color: #fff;
  padding: 30px;
}

/*  policy end*/



/*  Main Product start*/

.description-wrapper{

}

.description-wrapper h4, reviews-wrapper h3{
  font-size: 26px;
color: var(--color-1c1c1b);
margin-bottom: 10px;
}
.description-wrapper p{
  font-size: 14px;
color: var(--color-777777);
}

.review-inner-wrapper{
  background-color: #fff;
  padding: 13px;
}

.review-head {
border-bottom: 1px solid rgb(0, 0, 0, 0.1);
padding-bottom: 20px;
}

.review-head h4{
  font-size: 18px;
  color: var(--color-1c1c1b);
}

.review-head p, .review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4{
  font-size: 16px;
  color: var(--color-777777);
}
.review:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p{
  font-size: 14px;
  color: var(--color-777777);
}

.review-form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
/*  Main Product End*/
